/****************
*** REFERENCE ***
****************/
/*
	CONTAINER 
	
	align-content: flex-start | flex-end | center | space-between | space-around | stretch;
	align-items: flex-start | flex-end | center | baseline | stretch;	
	display: flex | inline-flex;
	flex-direction: row | row-reverse | column | column-reverse;
	flex-wrap: nowrap | wrap | wrap-reverse;
	justify-content: flex-start | flex-end | center | space-between | space-around;
*/
/*	
	ITEMS 
	
	order: ;
	flex-grow: ;  default 0
	flex-shrink: ; default 1 
	flex-basis:  | auto; default auto
	align-self: auto | flex-start | flex-end | center | baseline | stretch;	
*/
.group {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .group:not([class*="vertical"]) {
    margin-left: -0.5rem;
    margin-right: -0.5rem; }
  .group.vertical {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem; }

.group.fill:not([class*="vertical"]) {
  margin-left: -.5rem !important;
  margin-right: -.5rem !important;
  width: calc(100% + 1rem) !important; }
.group.fill.group.vertical {
  margin-top: -.5rem !important;
  margin-bottom: -.5rem !important;
  height: calc(100% + 1rem) !important; }

.box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.group:not(.vertical) > [class*="box"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
.group.vertical > .box {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%; }

.group.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
.group.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.group.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.group.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.group.around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }
.group.cross-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
.group.cross-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
.group.cross-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.group.cross-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
.group.cross-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
.group.cross-align-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }
.group.cross-align-end {
  -ms-flex-line-pack: end;
      align-content: flex-end; }
.group.cross-align-center {
  -ms-flex-line-pack: center;
      align-content: center; }
.group.cross-align-between {
  -ms-flex-line-pack: justify;
      align-content: space-between; }
.group.cross-align-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around; }
.group.cross-align-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch; }
.group.inline {
  display: flex-inline; }
.group.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.group.reverse:not(.vertical) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }
.group.vertical.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
.group.reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }
.group.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.box.sticky {
  -webkit-box-ordinal-group: -98;
      -ms-flex-order: -99;
          order: -99; }
.box.first {
  -webkit-box-ordinal-group: -98;
      -ms-flex-order: -99;
          order: -99; }
.box.last {
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99; }

.box.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.group:not(.vertical) > .box-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%; }
.group:not(.vertical) > .box-1, .group:not(.vertical).items-1 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%; }
.group.vertical > .box-1, .group.vertical-items-1 > box, .group.vertical-items-1 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  height: 8.33333%; }
.group:not(.vertical) > .box-offset-1 {
  margin-left: 8.33333%; }
.group.reverse:not(.vertical) > .box-offset-1 {
  margin-right: 8.33333%; }
.group-vertical > .box[class~="offset-1"] {
  margin-top: 8.33333%; }
.group-vertical > .box[class~="offset-1"] {
  margin-bottom: 8.33333%; }

.box.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.group:not(.vertical) > .box-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%; }
.group:not(.vertical) > .box-2, .group:not(.vertical).items-2 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%; }
.group.vertical > .box-2, .group.vertical-items-2 > box, .group.vertical-items-2 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  height: 16.66667%; }
.group:not(.vertical) > .box-offset-2 {
  margin-left: 16.66667%; }
.group.reverse:not(.vertical) > .box-offset-2 {
  margin-right: 16.66667%; }
.group-vertical > .box[class~="offset-2"] {
  margin-top: 16.66667%; }
.group-vertical > .box[class~="offset-2"] {
  margin-bottom: 16.66667%; }

.box.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.group:not(.vertical) > .box-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }
.group:not(.vertical) > .box-3, .group:not(.vertical).items-3 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }
.group.vertical > .box-3, .group.vertical-items-3 > box, .group.vertical-items-3 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  height: 25%; }
.group:not(.vertical) > .box-offset-3 {
  margin-left: 25%; }
.group.reverse:not(.vertical) > .box-offset-3 {
  margin-right: 25%; }
.group-vertical > .box[class~="offset-3"] {
  margin-top: 25%; }
.group-vertical > .box[class~="offset-3"] {
  margin-bottom: 25%; }

.box.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4; }

.group:not(.vertical) > .box-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%; }
.group:not(.vertical) > .box-4, .group:not(.vertical).items-4 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%; }
.group.vertical > .box-4, .group.vertical-items-4 > box, .group.vertical-items-4 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  height: 33.33333%; }
.group:not(.vertical) > .box-offset-4 {
  margin-left: 33.33333%; }
.group.reverse:not(.vertical) > .box-offset-4 {
  margin-right: 33.33333%; }
.group-vertical > .box[class~="offset-4"] {
  margin-top: 33.33333%; }
.group-vertical > .box[class~="offset-4"] {
  margin-bottom: 33.33333%; }

.box.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5; }

.group:not(.vertical) > .box-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%; }
.group:not(.vertical) > .box-5, .group:not(.vertical).items-5 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%; }
.group.vertical > .box-5, .group.vertical-items-5 > box, .group.vertical-items-5 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  height: 41.66667%; }
.group:not(.vertical) > .box-offset-5 {
  margin-left: 41.66667%; }
.group.reverse:not(.vertical) > .box-offset-5 {
  margin-right: 41.66667%; }
.group-vertical > .box[class~="offset-5"] {
  margin-top: 41.66667%; }
.group-vertical > .box[class~="offset-5"] {
  margin-bottom: 41.66667%; }

.box.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6; }

.group:not(.vertical) > .box-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }
.group:not(.vertical) > .box-6, .group:not(.vertical).items-6 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }
.group.vertical > .box-6, .group.vertical-items-6 > box, .group.vertical-items-6 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 50%; }
.group:not(.vertical) > .box-offset-6 {
  margin-left: 50%; }
.group.reverse:not(.vertical) > .box-offset-6 {
  margin-right: 50%; }
.group-vertical > .box[class~="offset-6"] {
  margin-top: 50%; }
.group-vertical > .box[class~="offset-6"] {
  margin-bottom: 50%; }

.box.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7; }

.group:not(.vertical) > .box-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%; }
.group:not(.vertical) > .box-7, .group:not(.vertical).items-7 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%; }
.group.vertical > .box-7, .group.vertical-items-7 > box, .group.vertical-items-7 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  height: 58.33333%; }
.group:not(.vertical) > .box-offset-7 {
  margin-left: 58.33333%; }
.group.reverse:not(.vertical) > .box-offset-7 {
  margin-right: 58.33333%; }
.group-vertical > .box[class~="offset-7"] {
  margin-top: 58.33333%; }
.group-vertical > .box[class~="offset-7"] {
  margin-bottom: 58.33333%; }

.box.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8; }

.group:not(.vertical) > .box-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%; }
.group:not(.vertical) > .box-8, .group:not(.vertical).items-8 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%; }
.group.vertical > .box-8, .group.vertical-items-8 > box, .group.vertical-items-8 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  height: 66.66667%; }
.group:not(.vertical) > .box-offset-8 {
  margin-left: 66.66667%; }
.group.reverse:not(.vertical) > .box-offset-8 {
  margin-right: 66.66667%; }
.group-vertical > .box[class~="offset-8"] {
  margin-top: 66.66667%; }
.group-vertical > .box[class~="offset-8"] {
  margin-bottom: 66.66667%; }

.box.order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9; }

.group:not(.vertical) > .box-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }
.group:not(.vertical) > .box-9, .group:not(.vertical).items-9 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }
.group.vertical > .box-9, .group.vertical-items-9 > box, .group.vertical-items-9 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  height: 75%; }
.group:not(.vertical) > .box-offset-9 {
  margin-left: 75%; }
.group.reverse:not(.vertical) > .box-offset-9 {
  margin-right: 75%; }
.group-vertical > .box[class~="offset-9"] {
  margin-top: 75%; }
.group-vertical > .box[class~="offset-9"] {
  margin-bottom: 75%; }

.box.order-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10; }

.group:not(.vertical) > .box-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%; }
.group:not(.vertical) > .box-10, .group:not(.vertical).items-10 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%; }
.group.vertical > .box-10, .group.vertical-items-10 > box, .group.vertical-items-10 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  height: 83.33333%; }
.group:not(.vertical) > .box-offset-10 {
  margin-left: 83.33333%; }
.group.reverse:not(.vertical) > .box-offset-10 {
  margin-right: 83.33333%; }
.group-vertical > .box[class~="offset-10"] {
  margin-top: 83.33333%; }
.group-vertical > .box[class~="offset-10"] {
  margin-bottom: 83.33333%; }

.box.order-11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11; }

.group:not(.vertical) > .box-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%; }
.group:not(.vertical) > .box-11, .group:not(.vertical).items-11 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%; }
.group.vertical > .box-11, .group.vertical-items-11 > box, .group.vertical-items-11 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  height: 91.66667%; }
.group:not(.vertical) > .box-offset-11 {
  margin-left: 91.66667%; }
.group.reverse:not(.vertical) > .box-offset-11 {
  margin-right: 91.66667%; }
.group-vertical > .box[class~="offset-11"] {
  margin-top: 91.66667%; }
.group-vertical > .box[class~="offset-11"] {
  margin-bottom: 91.66667%; }

.box.order-12 {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12; }

.group:not(.vertical) > .box-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }
.group:not(.vertical) > .box-12, .group:not(.vertical).items-12 > .box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }
.group.vertical > .box-12, .group.vertical-items-12 > box, .group.vertical-items-12 > .-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  height: 100%; }
.group:not(.vertical) > .box-offset-12 {
  margin-left: 100%; }
.group.reverse:not(.vertical) > .box-offset-12 {
  margin-right: 100%; }
.group-vertical > .box[class~="offset-12"] {
  margin-top: 100%; }
.group-vertical > .box[class~="offset-12"] {
  margin-bottom: 100%; }

.group .box.fixed {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
.group .box.fluid {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1; }
.group .box.start {
  -ms-flex-item-align: start;
      align-self: flex-start; }
.group .box.end {
  -ms-flex-item-align: end;
      align-self: flex-end; }
.group .box.center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
.group .box.baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline; }
.group .box.stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch; }

@media (min-width: 40.063rem) {
  .group-medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .group-medium:not([class*="vertical"]) {
      margin-left: -0.5rem;
      margin-right: -0.5rem; }
    .group-medium.medium-vertical {
      margin-top: -0.5rem;
      margin-bottom: -0.5rem; }

  .group.medium-fill:not([class*="vertical"]) {
    margin-left: -.5rem !important;
    margin-right: -.5rem !important;
    width: calc(100% + 1rem) !important; }
  .group.medium-fill.group.medium-vertical {
    margin-top: -.5rem !important;
    margin-bottom: -.5rem !important;
    height: calc(100% + 1rem) !important; }

  .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

  .group:not(.medium-vertical) > [class*="box"] {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .group.medium-vertical > .medium-box {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%; }

  .group.medium-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .group.medium-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .group.medium-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .group.medium-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .group.medium-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .group.medium-cross-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .group.medium-cross-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .group.medium-cross-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .group.medium-cross-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .group.medium-cross-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .group.medium-cross-align-start {
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .group.medium-cross-align-end {
    -ms-flex-line-pack: end;
        align-content: flex-end; }
  .group.medium-cross-align-center {
    -ms-flex-line-pack: center;
        align-content: center; }
  .group.medium-cross-align-between {
    -ms-flex-line-pack: justify;
        align-content: space-between; }
  .group.medium-cross-align-around {
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
  .group.medium-cross-align-stretch {
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
  .group.medium-inline {
    display: flex-inline; }
  .group.medium-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .group.medium-reverse:not(.medium-vertical) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .group.medium-vertical.medium-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .group.medium-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; }
  .group.medium-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

  .box.medium-sticky {
    -webkit-box-ordinal-group: -98;
        -ms-flex-order: -99;
            order: -99; }
  .box.medium-first {
    -webkit-box-ordinal-group: -98;
        -ms-flex-order: -99;
            order: -99; }
  .box.medium-last {
    -webkit-box-ordinal-group: 100;
        -ms-flex-order: 99;
            order: 99; }

  .box.medium-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .group:not(.medium-vertical) > .medium-box-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .group:not(.medium-vertical) > .box-medium-1, .group:not(.medium-vertical).medium-items-1 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .group.medium-vertical > .box-medium-1, .group.medium-vertical-medium-items-1 > box, .group.medium-vertical-medium-items-1 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    height: 8.33333%; }
  .group:not(.vertical) > .medium-box-offset-1 {
    margin-left: 8.33333%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-1 {
    margin-right: 8.33333%; }
  .group-vertical-medium > .box[class~="medium-offset-1"] {
    margin-top: 8.33333%; }
  .group-vertical-medium > .box[class~="medium-offset-1"] {
    margin-bottom: 8.33333%; }

  .box.medium-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .group:not(.medium-vertical) > .medium-box-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .group:not(.medium-vertical) > .box-medium-2, .group:not(.medium-vertical).medium-items-2 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .group.medium-vertical > .box-medium-2, .group.medium-vertical-medium-items-2 > box, .group.medium-vertical-medium-items-2 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    height: 16.66667%; }
  .group:not(.vertical) > .medium-box-offset-2 {
    margin-left: 16.66667%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-2 {
    margin-right: 16.66667%; }
  .group-vertical-medium > .box[class~="medium-offset-2"] {
    margin-top: 16.66667%; }
  .group-vertical-medium > .box[class~="medium-offset-2"] {
    margin-bottom: 16.66667%; }

  .box.medium-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .group:not(.medium-vertical) > .medium-box-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .group:not(.medium-vertical) > .box-medium-3, .group:not(.medium-vertical).medium-items-3 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .group.medium-vertical > .box-medium-3, .group.medium-vertical-medium-items-3 > box, .group.medium-vertical-medium-items-3 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    height: 25%; }
  .group:not(.vertical) > .medium-box-offset-3 {
    margin-left: 25%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-3 {
    margin-right: 25%; }
  .group-vertical-medium > .box[class~="medium-offset-3"] {
    margin-top: 25%; }
  .group-vertical-medium > .box[class~="medium-offset-3"] {
    margin-bottom: 25%; }

  .box.medium-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .group:not(.medium-vertical) > .medium-box-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .group:not(.medium-vertical) > .box-medium-4, .group:not(.medium-vertical).medium-items-4 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .group.medium-vertical > .box-medium-4, .group.medium-vertical-medium-items-4 > box, .group.medium-vertical-medium-items-4 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    height: 33.33333%; }
  .group:not(.vertical) > .medium-box-offset-4 {
    margin-left: 33.33333%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-4 {
    margin-right: 33.33333%; }
  .group-vertical-medium > .box[class~="medium-offset-4"] {
    margin-top: 33.33333%; }
  .group-vertical-medium > .box[class~="medium-offset-4"] {
    margin-bottom: 33.33333%; }

  .box.medium-order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }

  .group:not(.medium-vertical) > .medium-box-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .group:not(.medium-vertical) > .box-medium-5, .group:not(.medium-vertical).medium-items-5 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .group.medium-vertical > .box-medium-5, .group.medium-vertical-medium-items-5 > box, .group.medium-vertical-medium-items-5 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    height: 41.66667%; }
  .group:not(.vertical) > .medium-box-offset-5 {
    margin-left: 41.66667%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-5 {
    margin-right: 41.66667%; }
  .group-vertical-medium > .box[class~="medium-offset-5"] {
    margin-top: 41.66667%; }
  .group-vertical-medium > .box[class~="medium-offset-5"] {
    margin-bottom: 41.66667%; }

  .box.medium-order-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }

  .group:not(.medium-vertical) > .medium-box-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .group:not(.medium-vertical) > .box-medium-6, .group:not(.medium-vertical).medium-items-6 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .group.medium-vertical > .box-medium-6, .group.medium-vertical-medium-items-6 > box, .group.medium-vertical-medium-items-6 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    height: 50%; }
  .group:not(.vertical) > .medium-box-offset-6 {
    margin-left: 50%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-6 {
    margin-right: 50%; }
  .group-vertical-medium > .box[class~="medium-offset-6"] {
    margin-top: 50%; }
  .group-vertical-medium > .box[class~="medium-offset-6"] {
    margin-bottom: 50%; }

  .box.medium-order-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }

  .group:not(.medium-vertical) > .medium-box-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .group:not(.medium-vertical) > .box-medium-7, .group:not(.medium-vertical).medium-items-7 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .group.medium-vertical > .box-medium-7, .group.medium-vertical-medium-items-7 > box, .group.medium-vertical-medium-items-7 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    height: 58.33333%; }
  .group:not(.vertical) > .medium-box-offset-7 {
    margin-left: 58.33333%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-7 {
    margin-right: 58.33333%; }
  .group-vertical-medium > .box[class~="medium-offset-7"] {
    margin-top: 58.33333%; }
  .group-vertical-medium > .box[class~="medium-offset-7"] {
    margin-bottom: 58.33333%; }

  .box.medium-order-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }

  .group:not(.medium-vertical) > .medium-box-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .group:not(.medium-vertical) > .box-medium-8, .group:not(.medium-vertical).medium-items-8 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .group.medium-vertical > .box-medium-8, .group.medium-vertical-medium-items-8 > box, .group.medium-vertical-medium-items-8 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    height: 66.66667%; }
  .group:not(.vertical) > .medium-box-offset-8 {
    margin-left: 66.66667%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-8 {
    margin-right: 66.66667%; }
  .group-vertical-medium > .box[class~="medium-offset-8"] {
    margin-top: 66.66667%; }
  .group-vertical-medium > .box[class~="medium-offset-8"] {
    margin-bottom: 66.66667%; }

  .box.medium-order-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }

  .group:not(.medium-vertical) > .medium-box-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .group:not(.medium-vertical) > .box-medium-9, .group:not(.medium-vertical).medium-items-9 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .group.medium-vertical > .box-medium-9, .group.medium-vertical-medium-items-9 > box, .group.medium-vertical-medium-items-9 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    height: 75%; }
  .group:not(.vertical) > .medium-box-offset-9 {
    margin-left: 75%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-9 {
    margin-right: 75%; }
  .group-vertical-medium > .box[class~="medium-offset-9"] {
    margin-top: 75%; }
  .group-vertical-medium > .box[class~="medium-offset-9"] {
    margin-bottom: 75%; }

  .box.medium-order-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }

  .group:not(.medium-vertical) > .medium-box-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .group:not(.medium-vertical) > .box-medium-10, .group:not(.medium-vertical).medium-items-10 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .group.medium-vertical > .box-medium-10, .group.medium-vertical-medium-items-10 > box, .group.medium-vertical-medium-items-10 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    height: 83.33333%; }
  .group:not(.vertical) > .medium-box-offset-10 {
    margin-left: 83.33333%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-10 {
    margin-right: 83.33333%; }
  .group-vertical-medium > .box[class~="medium-offset-10"] {
    margin-top: 83.33333%; }
  .group-vertical-medium > .box[class~="medium-offset-10"] {
    margin-bottom: 83.33333%; }

  .box.medium-order-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }

  .group:not(.medium-vertical) > .medium-box-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .group:not(.medium-vertical) > .box-medium-11, .group:not(.medium-vertical).medium-items-11 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .group.medium-vertical > .box-medium-11, .group.medium-vertical-medium-items-11 > box, .group.medium-vertical-medium-items-11 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    height: 91.66667%; }
  .group:not(.vertical) > .medium-box-offset-11 {
    margin-left: 91.66667%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-11 {
    margin-right: 91.66667%; }
  .group-vertical-medium > .box[class~="medium-offset-11"] {
    margin-top: 91.66667%; }
  .group-vertical-medium > .box[class~="medium-offset-11"] {
    margin-bottom: 91.66667%; }

  .box.medium-order-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; }

  .group:not(.medium-vertical) > .medium-box-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .group:not(.medium-vertical) > .box-medium-12, .group:not(.medium-vertical).medium-items-12 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .group.medium-vertical > .box-medium-12, .group.medium-vertical-medium-items-12 > box, .group.medium-vertical-medium-items-12 > .medium-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    height: 100%; }
  .group:not(.vertical) > .medium-box-offset-12 {
    margin-left: 100%; }
  .group.reverse:not(.medium-vertical) > .medium-box-offset-12 {
    margin-right: 100%; }
  .group-vertical-medium > .box[class~="medium-offset-12"] {
    margin-top: 100%; }
  .group-vertical-medium > .box[class~="medium-offset-12"] {
    margin-bottom: 100%; }

  .group .box.fixed-medium {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .group .box.fluid-medium {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .group .box.medium-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .group .box.medium-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .group .box.medium-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .group .box.medium-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .group .box.medium-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch; } }
@media (min-width: 64.063rem) {
  .group-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .group-large:not([class*="vertical"]) {
      margin-left: -0.5rem;
      margin-right: -0.5rem; }
    .group-large.large-vertical {
      margin-top: -0.5rem;
      margin-bottom: -0.5rem; }

  .group.large-fill:not([class*="vertical"]) {
    margin-left: -.5rem !important;
    margin-right: -.5rem !important;
    width: calc(100% + 1rem) !important; }
  .group.large-fill.group.large-vertical {
    margin-top: -.5rem !important;
    margin-bottom: -.5rem !important;
    height: calc(100% + 1rem) !important; }

  .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

  .group:not(.large-vertical) > [class*="box"] {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .group.large-vertical > .large-box {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%; }

  .group.large-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .group.large-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .group.large-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .group.large-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .group.large-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .group.large-cross-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .group.large-cross-end {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .group.large-cross-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .group.large-cross-baseline {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .group.large-cross-stretch {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .group.large-cross-align-start {
    -ms-flex-line-pack: start;
        align-content: flex-start; }
  .group.large-cross-align-end {
    -ms-flex-line-pack: end;
        align-content: flex-end; }
  .group.large-cross-align-center {
    -ms-flex-line-pack: center;
        align-content: center; }
  .group.large-cross-align-between {
    -ms-flex-line-pack: justify;
        align-content: space-between; }
  .group.large-cross-align-around {
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
  .group.large-cross-align-stretch {
    -ms-flex-line-pack: stretch;
        align-content: stretch; }
  .group.large-inline {
    display: flex-inline; }
  .group.large-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .group.large-reverse:not(.large-vertical) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .group.large-vertical.large-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .group.large-reverse {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse; }
  .group.large-nowrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

  .box.large-sticky {
    -webkit-box-ordinal-group: -98;
        -ms-flex-order: -99;
            order: -99; }
  .box.large-first {
    -webkit-box-ordinal-group: -98;
        -ms-flex-order: -99;
            order: -99; }
  .box.large-last {
    -webkit-box-ordinal-group: 100;
        -ms-flex-order: 99;
            order: 99; }

  .box.large-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .group:not(.large-vertical) > .large-box-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .group:not(.large-vertical) > .box-large-1, .group:not(.large-vertical).large-items-1 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .group.large-vertical > .box-large-1, .group.large-vertical-large-items-1 > box, .group.large-vertical-large-items-1 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    height: 8.33333%; }
  .group:not(.vertical) > .large-box-offset-1 {
    margin-left: 8.33333%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-1 {
    margin-right: 8.33333%; }
  .group-vertical-large > .box[class~="large-offset-1"] {
    margin-top: 8.33333%; }
  .group-vertical-large > .box[class~="large-offset-1"] {
    margin-bottom: 8.33333%; }

  .box.large-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .group:not(.large-vertical) > .large-box-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .group:not(.large-vertical) > .box-large-2, .group:not(.large-vertical).large-items-2 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .group.large-vertical > .box-large-2, .group.large-vertical-large-items-2 > box, .group.large-vertical-large-items-2 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    height: 16.66667%; }
  .group:not(.vertical) > .large-box-offset-2 {
    margin-left: 16.66667%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-2 {
    margin-right: 16.66667%; }
  .group-vertical-large > .box[class~="large-offset-2"] {
    margin-top: 16.66667%; }
  .group-vertical-large > .box[class~="large-offset-2"] {
    margin-bottom: 16.66667%; }

  .box.large-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }

  .group:not(.large-vertical) > .large-box-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .group:not(.large-vertical) > .box-large-3, .group:not(.large-vertical).large-items-3 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .group.large-vertical > .box-large-3, .group.large-vertical-large-items-3 > box, .group.large-vertical-large-items-3 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    height: 25%; }
  .group:not(.vertical) > .large-box-offset-3 {
    margin-left: 25%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-3 {
    margin-right: 25%; }
  .group-vertical-large > .box[class~="large-offset-3"] {
    margin-top: 25%; }
  .group-vertical-large > .box[class~="large-offset-3"] {
    margin-bottom: 25%; }

  .box.large-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }

  .group:not(.large-vertical) > .large-box-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .group:not(.large-vertical) > .box-large-4, .group:not(.large-vertical).large-items-4 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .group.large-vertical > .box-large-4, .group.large-vertical-large-items-4 > box, .group.large-vertical-large-items-4 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    height: 33.33333%; }
  .group:not(.vertical) > .large-box-offset-4 {
    margin-left: 33.33333%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-4 {
    margin-right: 33.33333%; }
  .group-vertical-large > .box[class~="large-offset-4"] {
    margin-top: 33.33333%; }
  .group-vertical-large > .box[class~="large-offset-4"] {
    margin-bottom: 33.33333%; }

  .box.large-order-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }

  .group:not(.large-vertical) > .large-box-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .group:not(.large-vertical) > .box-large-5, .group:not(.large-vertical).large-items-5 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .group.large-vertical > .box-large-5, .group.large-vertical-large-items-5 > box, .group.large-vertical-large-items-5 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    height: 41.66667%; }
  .group:not(.vertical) > .large-box-offset-5 {
    margin-left: 41.66667%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-5 {
    margin-right: 41.66667%; }
  .group-vertical-large > .box[class~="large-offset-5"] {
    margin-top: 41.66667%; }
  .group-vertical-large > .box[class~="large-offset-5"] {
    margin-bottom: 41.66667%; }

  .box.large-order-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }

  .group:not(.large-vertical) > .large-box-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .group:not(.large-vertical) > .box-large-6, .group:not(.large-vertical).large-items-6 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .group.large-vertical > .box-large-6, .group.large-vertical-large-items-6 > box, .group.large-vertical-large-items-6 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    height: 50%; }
  .group:not(.vertical) > .large-box-offset-6 {
    margin-left: 50%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-6 {
    margin-right: 50%; }
  .group-vertical-large > .box[class~="large-offset-6"] {
    margin-top: 50%; }
  .group-vertical-large > .box[class~="large-offset-6"] {
    margin-bottom: 50%; }

  .box.large-order-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }

  .group:not(.large-vertical) > .large-box-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .group:not(.large-vertical) > .box-large-7, .group:not(.large-vertical).large-items-7 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .group.large-vertical > .box-large-7, .group.large-vertical-large-items-7 > box, .group.large-vertical-large-items-7 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    height: 58.33333%; }
  .group:not(.vertical) > .large-box-offset-7 {
    margin-left: 58.33333%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-7 {
    margin-right: 58.33333%; }
  .group-vertical-large > .box[class~="large-offset-7"] {
    margin-top: 58.33333%; }
  .group-vertical-large > .box[class~="large-offset-7"] {
    margin-bottom: 58.33333%; }

  .box.large-order-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }

  .group:not(.large-vertical) > .large-box-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .group:not(.large-vertical) > .box-large-8, .group:not(.large-vertical).large-items-8 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .group.large-vertical > .box-large-8, .group.large-vertical-large-items-8 > box, .group.large-vertical-large-items-8 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    height: 66.66667%; }
  .group:not(.vertical) > .large-box-offset-8 {
    margin-left: 66.66667%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-8 {
    margin-right: 66.66667%; }
  .group-vertical-large > .box[class~="large-offset-8"] {
    margin-top: 66.66667%; }
  .group-vertical-large > .box[class~="large-offset-8"] {
    margin-bottom: 66.66667%; }

  .box.large-order-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }

  .group:not(.large-vertical) > .large-box-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .group:not(.large-vertical) > .box-large-9, .group:not(.large-vertical).large-items-9 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .group.large-vertical > .box-large-9, .group.large-vertical-large-items-9 > box, .group.large-vertical-large-items-9 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    height: 75%; }
  .group:not(.vertical) > .large-box-offset-9 {
    margin-left: 75%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-9 {
    margin-right: 75%; }
  .group-vertical-large > .box[class~="large-offset-9"] {
    margin-top: 75%; }
  .group-vertical-large > .box[class~="large-offset-9"] {
    margin-bottom: 75%; }

  .box.large-order-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }

  .group:not(.large-vertical) > .large-box-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .group:not(.large-vertical) > .box-large-10, .group:not(.large-vertical).large-items-10 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .group.large-vertical > .box-large-10, .group.large-vertical-large-items-10 > box, .group.large-vertical-large-items-10 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    height: 83.33333%; }
  .group:not(.vertical) > .large-box-offset-10 {
    margin-left: 83.33333%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-10 {
    margin-right: 83.33333%; }
  .group-vertical-large > .box[class~="large-offset-10"] {
    margin-top: 83.33333%; }
  .group-vertical-large > .box[class~="large-offset-10"] {
    margin-bottom: 83.33333%; }

  .box.large-order-11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }

  .group:not(.large-vertical) > .large-box-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .group:not(.large-vertical) > .box-large-11, .group:not(.large-vertical).large-items-11 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .group.large-vertical > .box-large-11, .group.large-vertical-large-items-11 > box, .group.large-vertical-large-items-11 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    height: 91.66667%; }
  .group:not(.vertical) > .large-box-offset-11 {
    margin-left: 91.66667%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-11 {
    margin-right: 91.66667%; }
  .group-vertical-large > .box[class~="large-offset-11"] {
    margin-top: 91.66667%; }
  .group-vertical-large > .box[class~="large-offset-11"] {
    margin-bottom: 91.66667%; }

  .box.large-order-12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; }

  .group:not(.large-vertical) > .large-box-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .group:not(.large-vertical) > .box-large-12, .group:not(.large-vertical).large-items-12 > .box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .group.large-vertical > .box-large-12, .group.large-vertical-large-items-12 > box, .group.large-vertical-large-items-12 > .large-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    height: 100%; }
  .group:not(.vertical) > .large-box-offset-12 {
    margin-left: 100%; }
  .group.reverse:not(.large-vertical) > .large-box-offset-12 {
    margin-right: 100%; }
  .group-vertical-large > .box[class~="large-offset-12"] {
    margin-top: 100%; }
  .group-vertical-large > .box[class~="large-offset-12"] {
    margin-bottom: 100%; }

  .group .box.fixed-large {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .group .box.fluid-large {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .group .box.large-start {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .group .box.large-end {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .group .box.large-center {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .group .box.large-baseline {
    -ms-flex-item-align: baseline;
        align-self: baseline; }
  .group .box.large-stretch {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch; } }